html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px;
  }
}
body {
  background-image: linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
}

body {
  color: rgba(255, 255, 255, 0.65);
}

input {
  color: #636363;
}

body, input {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 17pt;
  font-weight: 300;
  line-height: 1.65;
}
@media screen and (max-width: 1680px) {
  body, input {
    font-size: 14pt;
  }
}
@media screen and (max-width: 1280px) {
  body, input {
    font-size: 12pt;
  }
}
@media screen and (max-width: 360px) {
  body, input {
    font-size: 11pt;
  }
}

a {
  -webkit-transition: color 0.2s ease, border-bottom 0.2s ease;
  transition: color 0.2s ease, border-bottom 0.2s ease;
  text-decoration: none;
  border-bottom: dotted 1px;
  color: inherit;
}
a:hover {
  border-bottom-color: transparent;
  color: #636363;
}

p {
  margin: 0 0 2em 0;
}
p.content {
  -webkit-columns: 20em 2;
     -moz-columns: 20em 2;
          columns: 20em 2;
  -webkit-column-gap: 2em;
     -moz-column-gap: 2em;
          column-gap: 2em;
  text-align: justify;
}

h1, h2, h3 {
  color: #636363;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 0.7em 0;
  letter-spacing: -0.025em;
}
h1 a, h2 a, h3 a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

@media screen and (max-width: 736px) {
  h1 {
    font-size: 2em;
  }
}
hr {
  border: 0;
  border-bottom: solid 1px;
  margin: 2em 0;
  border-bottom-color: #dddddd;
}
hr.major {
  margin: 3em 0;
}

.title {
  color: #ffffff;
}

/* Row */
.row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  -webkit-box-align: stretch;
          align-items: stretch;
}
.row > * {
  box-sizing: border-box;
}
.row.gtr-uniform > * > :last-child {
  margin-bottom: 0;
}
.row > .imp {
  -webkit-box-ordinal-group: 0;
          order: -1;
}
.row > .col-1 {
  width: 8.33333%;
}
.row > .off-1 {
  margin-left: 8.33333%;
}
.row > .col-2 {
  width: 16.66667%;
}
.row > .off-2 {
  margin-left: 16.66667%;
}
.row > .col-3 {
  width: 25%;
}
.row > .off-3 {
  margin-left: 25%;
}
.row > .col-4 {
  width: 33.33333%;
}
.row > .off-4 {
  margin-left: 33.33333%;
}
.row > .col-5 {
  width: 41.66667%;
}
.row > .off-5 {
  margin-left: 41.66667%;
}
.row > .col-6 {
  width: 50%;
}
.row > .off-6 {
  margin-left: 50%;
}
.row > .col-7 {
  width: 58.33333%;
}
.row > .off-7 {
  margin-left: 58.33333%;
}
.row > .col-8 {
  width: 66.66667%;
}
.row > .off-8 {
  margin-left: 66.66667%;
}
.row > .col-9 {
  width: 75%;
}
.row > .off-9 {
  margin-left: 75%;
}
.row > .col-10 {
  width: 83.33333%;
}
.row > .off-10 {
  margin-left: 83.33333%;
}
.row > .col-11 {
  width: 91.66667%;
}
.row > .off-11 {
  margin-left: 91.66667%;
}
.row > .col-12 {
  width: 100%;
}
.row > .off-12 {
  margin-left: 100%;
}
.row.gtr-0 {
  margin-top: 0;
  margin-left: 0em;
}
.row.gtr-0 > * {
  padding: 0 0 0 0em;
}
.row.gtr-0.gtr-uniform {
  margin-top: 0em;
}
.row.gtr-0.gtr-uniform > * {
  padding-top: 0em;
}
.row.gtr-25 {
  margin-top: 0;
  margin-left: -0.375em;
}
.row.gtr-25 > * {
  padding: 0 0 0 0.375em;
}
.row.gtr-25.gtr-uniform {
  margin-top: -0.375em;
}
.row.gtr-25.gtr-uniform > * {
  padding-top: 0.375em;
}
.row.gtr-50 {
  margin-top: 0;
  margin-left: -0.75em;
}
.row.gtr-50 > * {
  padding: 0 0 0 0.75em;
}
.row.gtr-50.gtr-uniform {
  margin-top: -0.75em;
}
.row.gtr-50.gtr-uniform > * {
  padding-top: 0.75em;
}
.row {
  margin-top: 0;
  margin-left: -1.5em;
}
.row > * {
  padding: 0 0 0 1.5em;
}
.row.gtr-uniform {
  margin-top: -1.5em;
}
.row.gtr-uniform > * {
  padding-top: 1.5em;
}
.row.gtr-150 {
  margin-top: 0;
  margin-left: -2.25em;
}
.row.gtr-150 > * {
  padding: 0 0 0 2.25em;
}
.row.gtr-150.gtr-uniform {
  margin-top: -2.25em;
}
.row.gtr-150.gtr-uniform > * {
  padding-top: 2.25em;
}
.row.gtr-200 {
  margin-top: 0;
  margin-left: -3em;
}
.row.gtr-200 > * {
  padding: 0 0 0 3em;
}
.row.gtr-200.gtr-uniform {
  margin-top: -3em;
}
.row.gtr-200.gtr-uniform > * {
  padding-top: 3em;
}
@media screen and (max-width: 1680px) {
  .row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    -webkit-box-align: stretch;
            align-items: stretch;
  }
  .row > * {
    box-sizing: border-box;
  }
  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
  }
  .row > .imp-xlarge {
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .row > .col-1-xlarge {
    width: 8.33333%;
  }
  .row > .off-1-xlarge {
    margin-left: 8.33333%;
  }
  .row > .col-2-xlarge {
    width: 16.66667%;
  }
  .row > .off-2-xlarge {
    margin-left: 16.66667%;
  }
  .row > .col-3-xlarge {
    width: 25%;
  }
  .row > .off-3-xlarge {
    margin-left: 25%;
  }
  .row > .col-4-xlarge {
    width: 33.33333%;
  }
  .row > .off-4-xlarge {
    margin-left: 33.33333%;
  }
  .row > .col-5-xlarge {
    width: 41.66667%;
  }
  .row > .off-5-xlarge {
    margin-left: 41.66667%;
  }
  .row > .col-6-xlarge {
    width: 50%;
  }
  .row > .off-6-xlarge {
    margin-left: 50%;
  }
  .row > .col-7-xlarge {
    width: 58.33333%;
  }
  .row > .off-7-xlarge {
    margin-left: 58.33333%;
  }
  .row > .col-8-xlarge {
    width: 66.66667%;
  }
  .row > .off-8-xlarge {
    margin-left: 66.66667%;
  }
  .row > .col-9-xlarge {
    width: 75%;
  }
  .row > .off-9-xlarge {
    margin-left: 75%;
  }
  .row > .col-10-xlarge {
    width: 83.33333%;
  }
  .row > .off-10-xlarge {
    margin-left: 83.33333%;
  }
  .row > .col-11-xlarge {
    width: 91.66667%;
  }
  .row > .off-11-xlarge {
    margin-left: 91.66667%;
  }
  .row > .col-12-xlarge {
    width: 100%;
  }
  .row > .off-12-xlarge {
    margin-left: 100%;
  }
  .row.gtr-0 {
    margin-top: 0;
    margin-left: 0em;
  }
  .row.gtr-0 > * {
    padding: 0 0 0 0em;
  }
  .row.gtr-0.gtr-uniform {
    margin-top: 0em;
  }
  .row.gtr-0.gtr-uniform > * {
    padding-top: 0em;
  }
  .row.gtr-25 {
    margin-top: 0;
    margin-left: -0.375em;
  }
  .row.gtr-25 > * {
    padding: 0 0 0 0.375em;
  }
  .row.gtr-25.gtr-uniform {
    margin-top: -0.375em;
  }
  .row.gtr-25.gtr-uniform > * {
    padding-top: 0.375em;
  }
  .row.gtr-50 {
    margin-top: 0;
    margin-left: -0.75em;
  }
  .row.gtr-50 > * {
    padding: 0 0 0 0.75em;
  }
  .row.gtr-50.gtr-uniform {
    margin-top: -0.75em;
  }
  .row.gtr-50.gtr-uniform > * {
    padding-top: 0.75em;
  }
  .row {
    margin-top: 0;
    margin-left: -1.5em;
  }
  .row > * {
    padding: 0 0 0 1.5em;
  }
  .row.gtr-uniform {
    margin-top: -1.5em;
  }
  .row.gtr-uniform > * {
    padding-top: 1.5em;
  }
  .row.gtr-150 {
    margin-top: 0;
    margin-left: -2.25em;
  }
  .row.gtr-150 > * {
    padding: 0 0 0 2.25em;
  }
  .row.gtr-150.gtr-uniform {
    margin-top: -2.25em;
  }
  .row.gtr-150.gtr-uniform > * {
    padding-top: 2.25em;
  }
  .row.gtr-200 {
    margin-top: 0;
    margin-left: -3em;
  }
  .row.gtr-200 > * {
    padding: 0 0 0 3em;
  }
  .row.gtr-200.gtr-uniform {
    margin-top: -3em;
  }
  .row.gtr-200.gtr-uniform > * {
    padding-top: 3em;
  }
}
@media screen and (max-width: 1280px) {
  .row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    -webkit-box-align: stretch;
            align-items: stretch;
  }
  .row > * {
    box-sizing: border-box;
  }
  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
  }
  .row > .imp-large {
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .row > .col-1-large {
    width: 8.33333%;
  }
  .row > .off-1-large {
    margin-left: 8.33333%;
  }
  .row > .col-2-large {
    width: 16.66667%;
  }
  .row > .off-2-large {
    margin-left: 16.66667%;
  }
  .row > .col-3-large {
    width: 25%;
  }
  .row > .off-3-large {
    margin-left: 25%;
  }
  .row > .col-4-large {
    width: 33.33333%;
  }
  .row > .off-4-large {
    margin-left: 33.33333%;
  }
  .row > .col-5-large {
    width: 41.66667%;
  }
  .row > .off-5-large {
    margin-left: 41.66667%;
  }
  .row > .col-6-large {
    width: 50%;
  }
  .row > .off-6-large {
    margin-left: 50%;
  }
  .row > .col-7-large {
    width: 58.33333%;
  }
  .row > .off-7-large {
    margin-left: 58.33333%;
  }
  .row > .col-8-large {
    width: 66.66667%;
  }
  .row > .off-8-large {
    margin-left: 66.66667%;
  }
  .row > .col-9-large {
    width: 75%;
  }
  .row > .off-9-large {
    margin-left: 75%;
  }
  .row > .col-10-large {
    width: 83.33333%;
  }
  .row > .off-10-large {
    margin-left: 83.33333%;
  }
  .row > .col-11-large {
    width: 91.66667%;
  }
  .row > .off-11-large {
    margin-left: 91.66667%;
  }
  .row > .col-12-large {
    width: 100%;
  }
  .row > .off-12-large {
    margin-left: 100%;
  }
  .row.gtr-0 {
    margin-top: 0;
    margin-left: 0em;
  }
  .row.gtr-0 > * {
    padding: 0 0 0 0em;
  }
  .row.gtr-0.gtr-uniform {
    margin-top: 0em;
  }
  .row.gtr-0.gtr-uniform > * {
    padding-top: 0em;
  }
  .row.gtr-25 {
    margin-top: 0;
    margin-left: -0.375em;
  }
  .row.gtr-25 > * {
    padding: 0 0 0 0.375em;
  }
  .row.gtr-25.gtr-uniform {
    margin-top: -0.375em;
  }
  .row.gtr-25.gtr-uniform > * {
    padding-top: 0.375em;
  }
  .row.gtr-50 {
    margin-top: 0;
    margin-left: -0.75em;
  }
  .row.gtr-50 > * {
    padding: 0 0 0 0.75em;
  }
  .row.gtr-50.gtr-uniform {
    margin-top: -0.75em;
  }
  .row.gtr-50.gtr-uniform > * {
    padding-top: 0.75em;
  }
  .row {
    margin-top: 0;
    margin-left: -1.5em;
  }
  .row > * {
    padding: 0 0 0 1.5em;
  }
  .row.gtr-uniform {
    margin-top: -1.5em;
  }
  .row.gtr-uniform > * {
    padding-top: 1.5em;
  }
  .row.gtr-150 {
    margin-top: 0;
    margin-left: -2.25em;
  }
  .row.gtr-150 > * {
    padding: 0 0 0 2.25em;
  }
  .row.gtr-150.gtr-uniform {
    margin-top: -2.25em;
  }
  .row.gtr-150.gtr-uniform > * {
    padding-top: 2.25em;
  }
  .row.gtr-200 {
    margin-top: 0;
    margin-left: -3em;
  }
  .row.gtr-200 > * {
    padding: 0 0 0 3em;
  }
  .row.gtr-200.gtr-uniform {
    margin-top: -3em;
  }
  .row.gtr-200.gtr-uniform > * {
    padding-top: 3em;
  }
}
@media screen and (max-width: 980px) {
  .row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    -webkit-box-align: stretch;
            align-items: stretch;
  }
  .row > * {
    box-sizing: border-box;
  }
  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
  }
  .row > .imp-medium {
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .row > .col-1-medium {
    width: 8.33333%;
  }
  .row > .off-1-medium {
    margin-left: 8.33333%;
  }
  .row > .col-2-medium {
    width: 16.66667%;
  }
  .row > .off-2-medium {
    margin-left: 16.66667%;
  }
  .row > .col-3-medium {
    width: 25%;
  }
  .row > .off-3-medium {
    margin-left: 25%;
  }
  .row > .col-4-medium {
    width: 33.33333%;
  }
  .row > .off-4-medium {
    margin-left: 33.33333%;
  }
  .row > .col-5-medium {
    width: 41.66667%;
  }
  .row > .off-5-medium {
    margin-left: 41.66667%;
  }
  .row > .col-6-medium {
    width: 50%;
  }
  .row > .off-6-medium {
    margin-left: 50%;
  }
  .row > .col-7-medium {
    width: 58.33333%;
  }
  .row > .off-7-medium {
    margin-left: 58.33333%;
  }
  .row > .col-8-medium {
    width: 66.66667%;
  }
  .row > .off-8-medium {
    margin-left: 66.66667%;
  }
  .row > .col-9-medium {
    width: 75%;
  }
  .row > .off-9-medium {
    margin-left: 75%;
  }
  .row > .col-10-medium {
    width: 83.33333%;
  }
  .row > .off-10-medium {
    margin-left: 83.33333%;
  }
  .row > .col-11-medium {
    width: 91.66667%;
  }
  .row > .off-11-medium {
    margin-left: 91.66667%;
  }
  .row > .col-12-medium {
    width: 100%;
  }
  .row > .off-12-medium {
    margin-left: 100%;
  }
  .row.gtr-0 {
    margin-top: 0;
    margin-left: 0em;
  }
  .row.gtr-0 > * {
    padding: 0 0 0 0em;
  }
  .row.gtr-0.gtr-uniform {
    margin-top: 0em;
  }
  .row.gtr-0.gtr-uniform > * {
    padding-top: 0em;
  }
  .row.gtr-25 {
    margin-top: 0;
    margin-left: -0.375em;
  }
  .row.gtr-25 > * {
    padding: 0 0 0 0.375em;
  }
  .row.gtr-25.gtr-uniform {
    margin-top: -0.375em;
  }
  .row.gtr-25.gtr-uniform > * {
    padding-top: 0.375em;
  }
  .row.gtr-50 {
    margin-top: 0;
    margin-left: -0.75em;
  }
  .row.gtr-50 > * {
    padding: 0 0 0 0.75em;
  }
  .row.gtr-50.gtr-uniform {
    margin-top: -0.75em;
  }
  .row.gtr-50.gtr-uniform > * {
    padding-top: 0.75em;
  }
  .row {
    margin-top: 0;
    margin-left: -1.5em;
  }
  .row > * {
    padding: 0 0 0 1.5em;
  }
  .row.gtr-uniform {
    margin-top: -1.5em;
  }
  .row.gtr-uniform > * {
    padding-top: 1.5em;
  }
  .row.gtr-150 {
    margin-top: 0;
    margin-left: -2.25em;
  }
  .row.gtr-150 > * {
    padding: 0 0 0 2.25em;
  }
  .row.gtr-150.gtr-uniform {
    margin-top: -2.25em;
  }
  .row.gtr-150.gtr-uniform > * {
    padding-top: 2.25em;
  }
  .row.gtr-200 {
    margin-top: 0;
    margin-left: -3em;
  }
  .row.gtr-200 > * {
    padding: 0 0 0 3em;
  }
  .row.gtr-200.gtr-uniform {
    margin-top: -3em;
  }
  .row.gtr-200.gtr-uniform > * {
    padding-top: 3em;
  }
}
@media screen and (max-width: 736px) {
  .row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    -webkit-box-align: stretch;
            align-items: stretch;
  }
  .row > * {
    box-sizing: border-box;
  }
  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
  }
  .row > .imp-small {
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .row > .col-1-small {
    width: 8.33333%;
  }
  .row > .off-1-small {
    margin-left: 8.33333%;
  }
  .row > .col-2-small {
    width: 16.66667%;
  }
  .row > .off-2-small {
    margin-left: 16.66667%;
  }
  .row > .col-3-small {
    width: 25%;
  }
  .row > .off-3-small {
    margin-left: 25%;
  }
  .row > .col-4-small {
    width: 33.33333%;
  }
  .row > .off-4-small {
    margin-left: 33.33333%;
  }
  .row > .col-5-small {
    width: 41.66667%;
  }
  .row > .off-5-small {
    margin-left: 41.66667%;
  }
  .row > .col-6-small {
    width: 50%;
  }
  .row > .off-6-small {
    margin-left: 50%;
  }
  .row > .col-7-small {
    width: 58.33333%;
  }
  .row > .off-7-small {
    margin-left: 58.33333%;
  }
  .row > .col-8-small {
    width: 66.66667%;
  }
  .row > .off-8-small {
    margin-left: 66.66667%;
  }
  .row > .col-9-small {
    width: 75%;
  }
  .row > .off-9-small {
    margin-left: 75%;
  }
  .row > .col-10-small {
    width: 83.33333%;
  }
  .row > .off-10-small {
    margin-left: 83.33333%;
  }
  .row > .col-11-small {
    width: 91.66667%;
  }
  .row > .off-11-small {
    margin-left: 91.66667%;
  }
  .row > .col-12-small {
    width: 100%;
  }
  .row > .off-12-small {
    margin-left: 100%;
  }
  .row.gtr-0 {
    margin-top: 0;
    margin-left: 0em;
  }
  .row.gtr-0 > * {
    padding: 0 0 0 0em;
  }
  .row.gtr-0.gtr-uniform {
    margin-top: 0em;
  }
  .row.gtr-0.gtr-uniform > * {
    padding-top: 0em;
  }
  .row.gtr-25 {
    margin-top: 0;
    margin-left: -0.25em;
  }
  .row.gtr-25 > * {
    padding: 0 0 0 0.25em;
  }
  .row.gtr-25.gtr-uniform {
    margin-top: -0.25em;
  }
  .row.gtr-25.gtr-uniform > * {
    padding-top: 0.25em;
  }
  .row.gtr-50 {
    margin-top: 0;
    margin-left: -0.5em;
  }
  .row.gtr-50 > * {
    padding: 0 0 0 0.5em;
  }
  .row.gtr-50.gtr-uniform {
    margin-top: -0.5em;
  }
  .row.gtr-50.gtr-uniform > * {
    padding-top: 0.5em;
  }
  .row {
    margin-top: 0;
    margin-left: -1em;
  }
  .row > * {
    padding: 0 0 0 1em;
  }
  .row.gtr-uniform {
    margin-top: -1em;
  }
  .row.gtr-uniform > * {
    padding-top: 1em;
  }
  .row.gtr-150 {
    margin-top: 0;
    margin-left: -1.5em;
  }
  .row.gtr-150 > * {
    padding: 0 0 0 1.5em;
  }
  .row.gtr-150.gtr-uniform {
    margin-top: -1.5em;
  }
  .row.gtr-150.gtr-uniform > * {
    padding-top: 1.5em;
  }
  .row.gtr-200 {
    margin-top: 0;
    margin-left: -2em;
  }
  .row.gtr-200 > * {
    padding: 0 0 0 2em;
  }
  .row.gtr-200.gtr-uniform {
    margin-top: -2em;
  }
  .row.gtr-200.gtr-uniform > * {
    padding-top: 2em;
  }
}
@media screen and (max-width: 480px) {
  .row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    -webkit-box-align: stretch;
            align-items: stretch;
  }
  .row > * {
    box-sizing: border-box;
  }
  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
  }
  .row > .imp-xsmall {
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .row > .col-1-xsmall {
    width: 8.33333%;
  }
  .row > .off-1-xsmall {
    margin-left: 8.33333%;
  }
  .row > .col-2-xsmall {
    width: 16.66667%;
  }
  .row > .off-2-xsmall {
    margin-left: 16.66667%;
  }
  .row > .col-3-xsmall {
    width: 25%;
  }
  .row > .off-3-xsmall {
    margin-left: 25%;
  }
  .row > .col-4-xsmall {
    width: 33.33333%;
  }
  .row > .off-4-xsmall {
    margin-left: 33.33333%;
  }
  .row > .col-5-xsmall {
    width: 41.66667%;
  }
  .row > .off-5-xsmall {
    margin-left: 41.66667%;
  }
  .row > .col-6-xsmall {
    width: 50%;
  }
  .row > .off-6-xsmall {
    margin-left: 50%;
  }
  .row > .col-7-xsmall {
    width: 58.33333%;
  }
  .row > .off-7-xsmall {
    margin-left: 58.33333%;
  }
  .row > .col-8-xsmall {
    width: 66.66667%;
  }
  .row > .off-8-xsmall {
    margin-left: 66.66667%;
  }
  .row > .col-9-xsmall {
    width: 75%;
  }
  .row > .off-9-xsmall {
    margin-left: 75%;
  }
  .row > .col-10-xsmall {
    width: 83.33333%;
  }
  .row > .off-10-xsmall {
    margin-left: 83.33333%;
  }
  .row > .col-11-xsmall {
    width: 91.66667%;
  }
  .row > .off-11-xsmall {
    margin-left: 91.66667%;
  }
  .row > .col-12-xsmall {
    width: 100%;
  }
  .row > .off-12-xsmall {
    margin-left: 100%;
  }
  .row.gtr-0 {
    margin-top: 0;
    margin-left: 0em;
  }
  .row.gtr-0 > * {
    padding: 0 0 0 0em;
  }
  .row.gtr-0.gtr-uniform {
    margin-top: 0em;
  }
  .row.gtr-0.gtr-uniform > * {
    padding-top: 0em;
  }
  .row.gtr-25 {
    margin-top: 0;
    margin-left: -0.3125em;
  }
  .row.gtr-25 > * {
    padding: 0 0 0 0.3125em;
  }
  .row.gtr-25.gtr-uniform {
    margin-top: -0.3125em;
  }
  .row.gtr-25.gtr-uniform > * {
    padding-top: 0.3125em;
  }
  .row.gtr-50 {
    margin-top: 0;
    margin-left: -0.625em;
  }
  .row.gtr-50 > * {
    padding: 0 0 0 0.625em;
  }
  .row.gtr-50.gtr-uniform {
    margin-top: -0.625em;
  }
  .row.gtr-50.gtr-uniform > * {
    padding-top: 0.625em;
  }
  .row {
    margin-top: 0;
    margin-left: -1.25em;
  }
  .row > * {
    padding: 0 0 0 1.25em;
  }
  .row.gtr-uniform {
    margin-top: -1.25em;
  }
  .row.gtr-uniform > * {
    padding-top: 1.25em;
  }
  .row.gtr-150 {
    margin-top: 0;
    margin-left: -1.875em;
  }
  .row.gtr-150 > * {
    padding: 0 0 0 1.875em;
  }
  .row.gtr-150.gtr-uniform {
    margin-top: -1.875em;
  }
  .row.gtr-150.gtr-uniform > * {
    padding-top: 1.875em;
  }
  .row.gtr-200 {
    margin-top: 0;
    margin-left: -2.5em;
  }
  .row.gtr-200 > * {
    padding: 0 0 0 2.5em;
  }
  .row.gtr-200.gtr-uniform {
    margin-top: -2.5em;
  }
  .row.gtr-200.gtr-uniform > * {
    padding-top: 2.5em;
  }
}

/* Button */
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  height: 2.75em;
  line-height: 2.75em;
  min-width: 9.25em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #dddddd;
  color: #636363 !important;
}
button:hover {
  background-color: rgba(222, 222, 222, 0.25);
}
button.primary {
  background-color: #8cc9f0;
  color: #ffffff !important;
  box-shadow: none;
}
button.primary:hover {
  background-color: #9acff2;
}
@media screen and (max-width: 736px) {
  button {
    min-width: 0;
  }
}

/* Form */
form {
  margin: 0 0 2em 0;
}

input[type="text"], textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 8px;
  border: solid 1px #dddddd;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 90%;
  background-color: rgba(222, 222, 222, 0.25);
}
input[type="text"]:focus, textarea:focus {
  border-color: #8cc9f0;
  box-shadow: 0 0 0 1px #8cc9f0;
}

input[type="text"] {
  height: 2.75em;
}

textarea {
  padding: 0.75em 1em;
}

/* Section */
section.special {
  text-align: center;
}

header.major {
  margin-bottom: 3em;
}
header.major h2 {
  font-size: 2em;
}
header.major h2:after {
  background-image: -webkit-gradient(linear, left top, right top, from(#efa8b0), color-stop(#a89cc8), to(#8cc9f0));
  background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
  display: block;
  content: '';
  width: 3.25em;
  height: 2px;
  margin: 0.7em 0 1em 0;
  border-radius: 2px;
}
section.special header.major h2:after {
  margin-left: auto;
  margin-right: auto;
}
header.major p {
  font-size: 1.25em;
  letter-spacing: -0.025em;
}
header.major.special {
  text-align: center;
}
header.major.special h2:after {
  margin-left: auto;
  margin-right: auto;
}

footer.major {
  margin-top: 3em;
}

@media screen and (max-width: 736px) {
  header.major {
    margin-bottom: 0;
  }
  header.major h2 {
    font-size: 1.5em;
  }
  header.major p {
    font-size: 1em;
    letter-spacing: 0;
  }

  footer.major {
    margin-top: 0;
  }
}
/* List */
#messages {
  width: 100%;
  overflow: auto;
  height: 150px;
}

/* Header */
#header {
  padding: 5em 5em 1em 5em ;
  text-align: center;
}
#header h1 {
  margin: 0 0 0.25em 0;
}
#header p {
  font-size: 1.25em;
  letter-spacing: -0.025em;
}
@media screen and (max-width: 1280px) {
  #header {
    padding: 4em 4em 0.1em 4em ;
  }
  #header.alt {
    padding: 6em 4em 3em 4em ;
  }
}
@media screen and (max-width: 980px) {
  #header {
    padding: 4em 3em 0.1em 3em ;
  }
  #header.alt {
    padding: 5em 3em 2em 3em ;
  }
}
@media screen and (max-width: 736px) {
  #header {
    padding: 3em 2em 0.1em 2em ;
  }
  #header p {
    font-size: 1em;
    letter-spacing: 0;
  }
  #header.alt {
    padding: 4em 2em 1em 2em ;
  }
  #header.alt h1 {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 480px) {
  #header {
    padding: 3em 1.5em 0.1em 1.5em ;
  }
  #header.alt {
    padding: 4em 1.5em 1em 1.5em ;
  }
}
@media screen and (max-width: 360px) {
  #header {
    padding: 2.5em 1em 0.1em 1em ;
  }
  #header.alt {
    padding: 3.5em 1em 0.5em 1em ;
  }
}

/* Main */
@font-face {
  font-family: 'PixelFont';
  src: url("/public/assets/fonts/pixel.ttf");
}
#main {
  background-color: #ffffff;
  color: #636363;
  border-radius: 0.25em;
}
#main > .main {
  padding: 7em 5em 5em 5em ;
  border-top: solid 1px #dddddd;
}
#main > .main:first-child {
  border-top: 0;
}
#main > #game_menu {
  background-image: url("/public/assets/images/background_game_menu.png");
  background-repeat: no-repeat;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  color: #ffffff;
}
#main > #game_menu ul > li > a {
  font-family: 'PixelFont';
  font-size: 60px;
  color: #f54290;
}
#main > #game_menu ul > li > a:hover {
  color: red;
}
@media screen and (max-width: 1280px) {
  #main > .main {
    padding: 4em 4em 2em 4em ;
  }
}
@media screen and (max-width: 980px) {
  #main > .main {
    padding: 4em 3em 2em 3em ;
  }
}
@media screen and (max-width: 736px) {
  #main > .main {
    padding: 3em 2em 1em 2em ;
  }
  #main > #game_menu ul > li > a {
    font-size: 40px;
  }
}
@media screen and (max-width: 480px) {
  #main > .main {
    padding: 3em 1.5em 1em 1.5em ;
  }
  #main > #game_menu ul > li > a {
    font-size: 30px;
  }
}
@media screen and (max-width: 360px) {
  #main {
    border-radius: 0;
  }
  #main > .main {
    padding: 2.5em 1em 0.5em 1em ;
  }
  #main > #game_menu ul > li > a {
    font-size: 20px;
  }
}

/* Footer */
#footer {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding: 5em 5em 3em 5em ;
  margin: 0 0 3em -2em;
}
#footer > * {
  width: calc(50% - 2em);
  margin-left: 2em;
}
@media screen and (max-width: 1280px) {
  #footer {
    padding: 4em 4em 2em 4em ;
  }
}
@media screen and (max-width: 980px) {
  #footer {
    padding: 4em 3em 2em 3em ;
    display: block;
    margin: 0 0 3em 0;
  }
  #footer > * {
    width: 100%;
    margin-left: 0;
    margin-bottom: 3em;
  }
}
@media screen and (max-width: 736px) {
  #footer {
    padding: 3em 2em 1em 2em ;
  }
}
@media screen and (max-width: 480px) {
  #footer {
    padding: 3em 1.5em 1em 1.5em ;
  }
}
@media screen and (max-width: 480px) {
  #footer {
    padding: 2.5em 1em 0.5em 1em ;
  }
}

/* Wrapper */
#wrapper {
  width: 64em;
  max-width: calc(100% - 4em);
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  #wrapper {
    max-width: calc(100% - 2em);
  }
}
@media screen and (max-width: 360px) {
  #wrapper {
    max-width: 100%;
  }
}
