/* Header */

#header {
  @include padding(5em, 5em, (0, 0, -2em, 0));
  text-align: center;

  h1 {
    margin: 0 0 (_size(element-margin) * 0.125) 0;
  }

  p {
    font-size: 1.25em;
    letter-spacing: _font(letter-spacing);
  }

  .logo img {
    width: 300px;
  }

  @include breakpoint('<=large') {
    @include padding(4em, 4em, (0, 0, -2em, 0));

    &.alt {
      @include padding(5em, 4em, (1em, 0, 0, 0));
    }
  }

  @include breakpoint('<=medium') {
    @include padding(4em, 3em, (0, 0, -2em, 0));

    &.alt {
      @include padding(4em, 3em, (1em, 0, 0, 0));
    }
    .logo img {
      width: 250px;
    }
  }

  @include breakpoint('<=small') {
    @include padding(3em, 2em, (0, 0, -1em, 0));

    p {
      font-size: 1em;
      letter-spacing: 0;
    }

    &.alt {
      @include padding(3em, 2em, (1em, 0, 0, 0));

      h1 {
        font-size: 2.5em;
      }
    }
    .logo img {
      width: 200px;
    }
  }

  @include breakpoint('<=xsmall') {
    @include padding(3em, 1.5em, (0, 0, -1em, 0));

    &.alt {
      @include padding(3em, 1.5em, (1em, 0, 0, 0));
    }
    .logo img {
      width: 150px;
    }
  }

  @include breakpoint('<=xxsmall') {
    @include padding(2.5em, 1em, (0, 0, -1em, 0));

    &.alt {
      @include padding(2.5em, 1em, (1em, 0, 0, 0));
    }
    .logo img {
      width: 100px;
    }
  }
}