/* Main */

@font-face {
  font-family: 'PixelFont';
  src: url('/public/assets/fonts/pixel.ttf');
}

#main {

  background-color: _palette(invert, bg);
  color: _palette(invert, fg);

  border-radius: _size(border-radius-main);

  > .main {
    @include padding(7em, 5em);
    border-top: solid 1px _palette(invert, border);

    &:first-child {
      border-top: 0;
    }

    > .image.main:first-child {
      margin: -5em 0 5em -5em;
      width: calc(100% + 10em);
      border-radius: _size(border-radius-main) _size(border-radius-main) 0 0;

      img {
        border-radius: _size(border-radius-main) _size(border-radius-main) 0 0;
      }
    }
  }

  > #game_menu {
    background-image: url("/public/assets/images/background_game_menu.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: _palette(fg-bold);

    ul > li > a {
      font-family: 'PixelFont';
      font-size: 60px;
      color: _palette(game);

      &:hover {
        color: _palette(game-hover);
      }
    }
  }

  @include breakpoint('<=large') {
    > .main {
      @include padding(4em, 4em);

      > .image.main:first-child {
        margin: -4em 0 4em -4em;
        width: calc(100% + 8em);
      }
    }
  }

  @include breakpoint('<=medium') {
    > .main {
      @include padding(4em, 3em);

      > .image.main:first-child {
        margin: -4em 0 4em -3em;
        width: calc(100% + 6em);
      }
    }
  }

  @include breakpoint('<=small') {
    > .main {
      @include padding(3em, 2em);

      > .image.main:first-child {
        margin: -3em 0 2em -2em;
        width: calc(100% + 4em);
      }
    }
    > #game_menu {
      ul > li > a {
        font-size: 40px;
      }
    }
  }

  @include breakpoint('<=xsmall') {
    > .main {
      @include padding(3em, 1.5em);

      > .image.main:first-child {
        margin: -3em 0 1.5em -1.5em;
        width: calc(100% + 3em);
      }
    }
    > #game_menu {
      ul > li > a {
        font-size: 30px;
      }
    }
  }

  @include breakpoint('<=xxsmall') {
    border-radius: 0;

    > .main {
      @include padding(2.5em, 1em);

      > .image.main:first-child {
        margin: -2.5em 0 1.5em -1em;
        width: calc(100% + 2em);
        border-radius: 0;

        img {
          border-radius: 0;
        }
      }
    }
    > #game_menu {
      ul > li > a {
        font-size: 20px;
      }
    }
  }
}