/* Main */

@font-face {
  font-family: 'PixelFont';
  src: url('/public/assets/fonts/pixel.ttf');
}

#main {

  background-color: _palette(invert, bg);
  color: _palette(invert, fg);

  border-radius: _size(border-radius-main);

  > .main {
    @include padding(7em, 5em);
    border-top: solid 1px _palette(invert, border);

    &:first-child {
      border-top: 0;
    }
  }

  > #game_menu {
    background-image: url("/public/assets/images/background_game_menu.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: _palette(fg-bold);

    ul > li > a {
      font-family: 'PixelFont';
      font-size: 60px;
      color: _palette(game);

      &:hover {
        color: _palette(game-hover);
      }
    }
  }

  @include breakpoint('<=large') {
    > .main {
      @include padding(4em, 4em);
    }
  }

  @include breakpoint('<=medium') {
    > .main {
      @include padding(4em, 3em);
    }
  }

  @include breakpoint('<=small') {
    > .main {
      @include padding(3em, 2em);
    }
    > #game_menu {
      ul > li > a {
        font-size: 40px;
      }
    }
  }

  @include breakpoint('<=xsmall') {
    > .main {
      @include padding(3em, 1.5em);
    }
    > #game_menu {
      ul > li > a {
        font-size: 30px;
      }
    }
  }

  @include breakpoint('<=xxsmall') {
    border-radius: 0;

    > .main {
      @include padding(2.5em, 1em);
    }
    > #game_menu {
      ul > li > a {
        font-size: 20px;
      }
    }
  }
}