@font-face {
  font-family: 'PixelFont';
  src: url('/public/assets/fonts/pixel.ttf');
}

body {
  font-family: 'PixelFont';
  background: #636e72;
}
h1 {
  position: relative;
  top: 0;
  text-align: center;
  user-select:none;
}

.p5Canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: crosshair;
  border: 1px solid #000000;
}

.ui {
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  user-select: none;
}

.deathText {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 400%;
  padding: 0.72% 4.3% 2.5% 4.3%;
  transform: translate(-50%, -50%);
  background-image: url('/public/assets/images/ui/parchment.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}