/* Form */

form {
  margin: 0 0 _size(element-margin) 0;
}

input[type="text"], textarea {
  appearance: none;
  border-radius: _size(border-radius);
  border: solid 1px _palette(invert, border);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 90%;
  background-color: _palette(invert, border-bg);

  &:focus {
    border-color: _palette(accent);
    box-shadow: 0 0 0 1px _palette(accent);
  }
}

input[type="text"] {
  height: _size(element-height);
}

textarea {
  padding: 0.75em 1em;
}